<h3>Add a new blog</h3>
<p>
	<form action="/sinatra" method="POST" role="form">
	<textarea class="form-control" rows="4"></textarea><br>
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>